.left-side, .right-side {
    padding: 8% 0 0 0;
}

.left-side > img {
    padding-left: 4em;
    max-width: 550px;
    max-height: 350px;
}

.right-side {
    text-align: center;
}

.about-text {
    background-color: white;
    border-radius: 25px;
    box-shadow: 7px 7px 9px #D5D7E1;
}

.text-area {
    padding: 2em;
}

h2 {
    margin-left: 3em;
    font-size: 28px !important;
    text-align: left;
}

.brand-name {
    font-weight: bold;
    color: #D40B6F;
}

.info-text {
    font-style: italic;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;
    padding-bottom: 1em;
}

.rules {
    margin-top: 1em;
    margin-left: 7em;
    text-align: left;
}

.rules > h3 {
    padding-left: 1em;
    font-size: 14px !important;
} 

.rules > p > i {
    color: #D40B6F;
    margin-right: 1em;
}

@media screen and (max-width:960px) {
    .left-side {
        display: none !important;
    }
}
