@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #707070;
}

html, body
{
    height: 100%;
}

nav {
    padding: 0 !important;
    width: 100%;
}

li > a {
    color: #707070 !important;
    text-decoration: none !important;
    text-transform: uppercase;
    padding-bottom: 1.65em;
}

li.active > a {
    color:#D40B6F !important;
    border-bottom: 0.3rem solid #D40B6F;
    border-radius: 8%;
}

header {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    padding: auto;
}

nav > .logo {
    cursor: pointer;
    margin-right: auto !important;
    padding-left: 1em;
    font-size: 18px;
    color: #707070 !important;
}

.logo > img {
    max-height: 4em;
}

.links {
    padding-top: 10px;
    padding-right: 1em;
    flex-grow: unset !important;
}

.nav__links {
    list-style: none;

}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a, .nav__links li a i, .nav__links li a span {
    transition: all 0.4s ease 0s;
}

.nav__links li a i {
    font-size: 11px;
    padding-right: 0.5em;
}

.nav__links li a:hover, .nav__links li a:hover i, .nav__links li a:hover span {
    color: #D40B6F !important;
}

.navbar-toggler {
    margin-right: 2em;
    border-color: #707070 !important;
}

button.navbar-toggler > i {
    color: #707070 !important;
}

button.navbar-toggler:hover {
    border-color: #D40B6F !important;
}
button.navbar-toggler:hover > i {
    color: #D40B6F !important;
}
button.navbar-toggler:visited {
    border: none !important;
}

/* ---------------------------------------------------- */

.main {
    width: 100%;
    height: 90%;
    background-image: linear-gradient(90deg, #E3EAF8, #FCF7F6);
    border-radius: 2.5rem;
}



@media screen and (max-width:960px) {
    .nav__links li {
        display: block;
        text-align: center;
        font-size: 18px;
    }
    li.active > a {
        border: none;
    }
}